<div class="mainwrap_section2">
  <h2>Lost Password Reset</h2>

<div class="maincontent_section">
  <form [formGroup]="resetPassword" (ngSubmit)="reset()">
  <div class="form_input_section">
      <mat-label class="form_inputlabel">Forgot Password <span>*</span></mat-label>
      <input class="form_input" type="email" formControlName="email"  placeholder="Enter the Email Address used to register your account ">

          <mat-error *ngIf="email.email.touched && email.email.errors?.required">
              Email is required
          </mat-error>
          <mat-error *ngIf="email.email.touched && email.email.errors?.email">
              Enter a Valid Email
          </mat-error>

  </div>
     <div class="backtologin_text">
       <a _ngcontent-tbw-c44="" [routerLink]="['/user/authentication']"
       tabindex="0" aria-disabled="false" href="./user/authentication">
       Back to Login
       </a>
    </div>


    <button mat-flat-button type="submit" class="form_input_btn signin_btn" >Reset Password</button>
  </form>




</div>
</div>
