

<span class="nav_menuclose_btn" mat-dialog-close></span>
<ul class="nav_menu">
  <li><a href="#"><span class="campaigns_icon"></span> <div>Campaigns</div> </a> </li>
  <li><a href="#"><span class="rfpparser_icon"></span> <div> RFP Parser</div> </a> </li>
  <li><a href="#"><span class="crm_icon"></span> <div>CRM</div> </a> </li>
  <li><a href="#"><span class="resumeparser_icon"></span> <div>Resume Parser</div> </a> </li>
  <li><a href="#"><span class="consultant_icon"></span> <div>Consultant</div> </a> </li>
<div style="clear: both;"></div>
<li><a href="#"><span class="campaigns_icon"></span> <div>Campaigns</div> </a> </li>
<li><a href="#"><span class="rfpparser_icon"></span> <div> RFP Parser</div> </a> </li>
<li><a href="#"><span class="crm_icon"></span> <div>CRM</div> </a> </li>
<li><a href="#"><span class="resumeparser_icon"></span> <div>Resume Parser</div> </a> </li>
<li><a href="#"><span class="consultant_icon"></span> <div>Consultant</div> </a> </li>


</ul>



<!--

<button mat-flat-button class="form_input_btn_black" mat-dialog-close> Cancel</button> -->
