

<div class="mainwrap_section2">
  <h2>Sign in to access Zbizlink</h2>

<div class="maincontent_section">
  <div class="form_input_section">
      <mat-label class="form_inputlabel">Email <span>*</span></mat-label>
      <input class="form_input" type="email"  placeholder="Enter your email address">
  </div>
    <div class="form_input_section">
      <mat-label class="form_inputlabel">Password <span>*</span></mat-label>
      <input class="form_input" type="password"  placeholder="Confirm password">
    </div>

    <button mat-flat-button class="form_input_btn signin_btn" >Sign in</button>

<div class="signin_content">
 <p>Don’t have a Zbizlink Account?
  <a _ngcontent-tbw-c44="" [routerLink]="['/user/registration']"
  tabindex="0" aria-disabled="false" href="./user/registration">
  Sign Up<span matripple=""
  class="mat-ripple mat-button-ripple"></span>
  </a>
</p>
 <p>
   <a _ngcontent-tbw-c44="" [routerLink]="['/user/forgot-password']"
   tabindex="0" aria-disabled="false" href="./user/forgot-password">
   Forgot your password?<span matripple=""
   class="mat-ripple mat-button-ripple"></span>
   </a>
   </p>
 <p>By Sign In, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a>  </p>






</div>



</div>
</div>
