<div *ngIf="progressSpinnerService.isLoading" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="authentication-full-width" *ngIf='!isSuccess'>
    
  <form class="authentication-form container containerMarginTop">
      <mat-card>
          
<h2 class="login_h2">Enter email to reset your password!</h2> 
      <mat-form-field class="authentication-full-width">
          <div style="margin-bottom:-30px;">
              <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
            </div>
            <span matPrefix>
              <span class="material-icons">email</span>
            </span> 
            
        <mat-label style="margin-right:-20px;">Email <span style="color: red;">*</span></mat-label>
        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@register.com" (focus)="onFocus()">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field> 
      <mat-error *ngIf='emailSuccessFailureMessage'><p style="text-align: left;">{{emailSuccessFailureMessage}}</p></mat-error> 
      <a  routerLink="../parser">Back To Login !!!</a>   
      <button mat-raised-button class="authentication-button-view zbizlink_btn" color="primary" (click)="forgotPassword()" cdkFocusInitial>Reset Password</button>
       
      </mat-card>
    </form>
</div>

<div class="authentication-full-width" *ngIf='isSuccess'> 
  <form class="authentication-form container containerMarginTop">
      <mat-card> 

        
<h2 class="login_h2">Request received</h2> 
      
     
      <div *ngIf='emailSuccessFailureMessage'><p style="text-align: left;font-size: 14px;font-family: 'Open Sans';font-weight: 600;line-height: 23px;">{{emailSuccessFailureMessage}}</p></div> 
       <!-- <a mat-flat-button class="confirm-button-view " color="warn" routerLink="../login-user">Login</a>   -->
        
      </mat-card>
    </form>
</div>