<div *ngIf="progressSpinnerService.isLoading" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="authentication-full-width" *ngIf='!isSuccess'>
    
    <form [formGroup]="groupForm" class="authentication-form container containerMarginTop">
        <mat-card class="">
           <h3>Reset Password</h3> 
<!--           

        <mat-form-field class="authentication-full-width">
            <div style="margin-bottom:-30px;">
                <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
              </div>
              <span matPrefix>
                <span class="material-icons">email</span>
              </span> 
              
          <mat-label style="margin-right:-20px;">Email</mat-label>
          <input matInput style="font-size: small;" [formControl]="emailFormControl" [errorStateMatcher]="matcher1" required [(ngModel)]="email"  placeholder="zd@reset-password.com">
        
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is required
        </mat-error>
        </mat-form-field>  -->

          <mat-form-field class="authentication-full-width" hintLabel="Min. 8,Max. 20 characters">
            <div style="margin-bottom:-30px;">
              <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
            </div>
            <span matPrefix>
              <span class="material-icons">
                lock
                </span>
            </span> 
            <mat-label >New password</mat-label>
            <input matInput #inputPassword  maxlength="20"style="font-size: small;" [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required (focus)="onFocus()">
            <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button> -->
            <mat-error *ngIf="groupForm.hasError('required', 'password')">
              {{getPassword()}}
            </mat-error>
            <mat-hint align="end">{{inputPassword.value?.length || 0}}/20</mat-hint>
          </mat-form-field>
        
          <mat-form-field class="authentication-full-width" hintLabel="Min. 8,Max. 20 characters">
            <div style="margin-bottom:-30px;">
              <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
            </div>
            <span matPrefix>
              <span class="material-icons">
                lock
                </span>
            </span> 
            <mat-label>Re-type new password</mat-label>
            <input matInput #inputConfirmPassword  maxlength="20"style="font-size: small;" [type]="hide ? 'password' : 'text'" placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher" (focus)="onFocus()">
            <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>  -->
            <mat-error *ngIf="groupForm.hasError('notSame')">
              {{getConfirmPassword()}}
            </mat-error>  
            <mat-hint align="end">{{inputConfirmPassword.value?.length || 0}}/20</mat-hint>
          </mat-form-field>
          <mat-error *ngIf='errorMessage'>{{errorMessage}}</mat-error>
          <div style="margin-top: 5px;"></div> 
          <button mat-raised-button color="primary" class="authentication-button-view" (click)="resetPasswordForm(groupForm)"  cdkFocusInitial>Reset Password</button>  
          <mat-error *ngIf='passwordUpdateError'><p style="text-align: left;">{{passwordUpdateError}}</p></mat-error> 
         
        </mat-card>
      </form>
</div>
 <!-- on password change show this screen -->
<div class="authentication-full-width" *ngIf='isSuccess'> 
  <form class="authentication-form container containerMarginTop">
      <mat-card> 
        <h3>Your password has been reset successfully, please login to continue.</h3>
     <mat-divider></mat-divider>  
       <a mat-flat-button class="authentication-button-view " color="warn" routerLink="../login-user">Login</a>  
        
      </mat-card>
    </form>
</div>