<mat-card class="zdass-mat-card">
    <!--<mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> summary </mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>-->
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <form [formGroup]="groupForm" class="zdass-container">
      
        <div *ngFor="let field of summarArray; let i=index" class="zdass-container input_box">
            <mat-error *ngIf="groupForm.get(field.FieldDisplayName).errors?.required">{{field.FieldDisplayName}} is required </mat-error>
            <mat-error *ngIf="groupForm.get(field.FieldDisplayName).errors?.maxlength"> {{MaxlengthErrorMessage(field.FieldDisplayName)}}</mat-error>
            <mat-error *ngIf="groupForm.get(field.FieldDisplayName).errors?.pattern"> {{InvalidDateErrorMessage(field.FieldDisplayName)}}</mat-error>
            
          <mat-form-field *ngIf="field.ControlType=='text' || field.ControlType=='textarea'" >
              
            <input [formControlName]="field.FieldDisplayName" matInput placeholder={{field.FieldDisplayName}} class="form-control" [id]= "field.FieldDisplayName" > 
           
            <button  (click)="openDialog($event,i);" class="plusbtn">+</button>
            <button  class="plusbtn2" *ngIf="field.FieldDisplayName!='Solicitation Title' && field.FieldDisplayName!='Requesting Agency' && field.FieldDisplayName!='Solicitation Number'" (click)="deleteField(i);">-</button>
          </mat-form-field>
           
          <!-- <mat-form-field *ngIf="field.ControlType=='date'">
            <input matInput [matDatepicker]="i" placeholder={{field.FieldDisplayName}}
              [formControlName]="field.FieldDisplayName">
            <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
            <mat-datepicker #i></mat-datepicker>
          </mat-form-field> -->
  
          <mat-form-field *ngIf="field.ControlType=='date'">
            <input [formControlName]="field.FieldDisplayName"
            matInput placeholder={{field.FieldDisplayName}}
              class="form-control"> 
               <button  (click)="openDialog($event,i);" class="plusbtn">+</button><button *ngIf="field.FieldDisplayName!='Original Posted Date' && field.FieldDisplayName!='Question Due Date' && field.FieldDisplayName!='Pre-bid Date' && field.FieldDisplayName!='Closing Date and Time'" class="plusbtn2" (click)="deleteField(i);">-</button>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
  <!-- <pre>{{groupForm.value | json}}</pre> -->
  