<!-- fixed-top -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a style="font-weight:bold;" class="navbar-brand" href="#">ZDAAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--   
    <div class="collapse navbar-collapse logout-btn-box" id="navbarsExampleDefault"> 
      <ul class="navbar-nav mr-auto logout-btn-ul">
        <li *ngIf="nav.visible" class="nav-item active"><a class="nav-link btn-log-out" (click)="logout()">Logout</a></li>
        <li class="nav-item active">
          <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/user-list">Dashboard</a>
        </li>
        <li class="nav-item">
          
            <a routerLink="/login-user">Marketing campaign</a>
           
          </li>
          
        <li class="nav-item">
          
          <button mat-button [matMenuTriggerFor]="belowMenu">Account</button>
                  <mat-menu #belowMenu="matMenu" yPosition="below">
                  <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </li>
      
      </ul>
    </div> -->
  </nav>  