.container-fluid {
    padding-left: 50px;
}
.btn-log-out{
    text-align: right !important;
    float:right;
} 
.logout-btn-box{
display: block !important;
}
.logout-btn-ul{
    float: right !important;
}
.logout-btn-ul li a {
    cursor: pointer;
}