<div>
  <mat-toolbar style="height: 50px;">
    <div style="float:left; width:95%; font-size:medium;">Delete {{label}}</div>
    <span class="fill-remaining-space"></span>

  </mat-toolbar>
</div>

<div style="padding: 20px;">

  <div mat-dialog-content>
    <div class="Confirmation_pupopbox">
      <span class="content-span full-width"> {{message}}</span>
    </div>
  </div>

  <div class="confirm-dialog-container">

    <div class="row">
      <div class="col-sm-6">
        <button mat-raised-button color="primary" id="no-button" [mat-dialog-close]="false">NO</button>
      </div>
      <div class="col-sm-6">
        <button mat-raised-button color="primary" id="yes-button" (click)="ConfirmDeletion()">YES</button>

      </div>

    </div>



  </div>

</div>
