

<div class="mainwrap_section2">
    <h2>Reset Password</h2>

<div class="maincontent_section">
    <div class="form_input_section">
        <mat-label class="form_inputlabel">Email <span>*</span></mat-label>
        <input class="form_input" type="email"  placeholder="Enter your email address">
      </div> 
      <div class="form_input_section">
        <mat-label class="form_inputlabel">Password <span>*</span></mat-label>
        <input class="form_input" type="password"  placeholder="Enter new password">
      </div>  
      <div class="form_input_section">
        <mat-label class="form_inputlabel">Password <span>*</span></mat-label>
        <input class="form_input" type="password"  placeholder="Confirm new password">
      </div>  


      

      <button mat-flat-button class="form_input_btn signin_btn" >Sign in</button>

 

      

</div>
</div>
