<div class="mainwrap_section">
  <h2>Add New Role</h2>

  <div class="maincontent_section">
      <form>
          <div fxLayout="row wrap " fxLayoutGap="30px grid">
              <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="fxLayout_padding">
                  <div class="form_input_section">
                      <label class="form_inputlabel">Role Name <span>*</span></label>
                      <input class="form_input" type="text" placeholder="Enter role name">
                  </div>
                  <div class="form_input_section">
                      <label class="form_inputlabel">Feature <span>*</span></label>
                      <input class="form_input" type="text" placeholder="Enter feature name">
                  </div>
                  <div class="form_input_section">
                      <label class="form_inputlabel">Module <span>*</span></label>
                      <input class="form_input" type="text" placeholder="Enter module name">
                  </div>
              </div>
              <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="fxLayout_padding">
                  <div class="form_input_section">
                      <label class="form_inputlabel">Description <span>*</span></label>
                      <textarea class="form_input" cols="30" rows="10" placeholder="Enter description"></textarea>
                  </div>
              </div>
          </div>
          <div fxLayout="row wrap " fxLayoutGap="30px grid">
              <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" class="fxLayout_padding">
                  <h6 style="font-weight: bold; margin-bottom: 30px;">Selected Module Screens:</h6>
                  <table>
                      <thead>
                          <tr>
                              <th class="th_screen">
                                  Screens
                              </th>
                              <th class="th_permissions">
                                  Permissions
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="role_col_lbl">
                                  Screen Name A
                              </td>
                              <td class="role_col">
                                 <input id="chk_scr_a_full" type="checkbox" checked>
                                  <label for="chk_scr_a_full" class="checkbox">Full</label>
                                  <input id="chk_scr_a_delete" type="checkbox" checked>
                                  <label for="chk_scr_a_delete" class="checkbox">Delete</label>
                                  <input id="chk_scr_a_view" type="checkbox" checked>
                                  <label for="chk_scr_a_view" class="checkbox">View</label>
                                  <input id="chk_scr_a_edit" type="checkbox" checked>
                                  <label for="chk_scr_a_edit" class="checkbox">Edit</label>
                                  <input id="chk_scr_a_manage" type="checkbox" checked>
                                  <label for="chk_scr_a_manage" class="checkbox">Manage</label>
                              </td>
                          </tr>
                          <tr>
                              <td class="role_col_lbl">
                                  Screen Name B
                              </td>
                              <td class="role_col">
                                  <input id="chk_scr_b_full" type="checkbox">
                                  <label for="chk_scr_b_full" class="checkbox">Full</label>
                                  <input id="chk_scr_b_delete" type="checkbox" checked>
                                  <label for="chk_scr_b_delete" class="checkbox">Delete</label>
                                  <input id="chk_scr_b_view" type="checkbox">
                                  <label for="chk_scr_b_view" class="checkbox">View</label>
                                  <input id="chk_scr_b_edit" type="checkbox" checked>
                                  <label for="chk_scr_b_edit" class="checkbox">Edit</label>
                                  <input id="chk_scr_b_manage" type="checkbox">
                                  <label for="chk_scr_b_manage" class="checkbox">Manage</label>
                              </td>
                          </tr>
                          <tr>
                              <td class="role_col_lbl">
                                  Screen Name C
                              </td>
                              <td class="role_col">
                                  <input id="chk_scr_c_full" type="checkbox">
                                  <label for="chk_scr_c_full" class="checkbox">Full</label>
                                  <input id="chk_scr_c_delete" type="checkbox">
                                  <label for="chk_scr_c_delete" class="checkbox">Delete</label>
                                  <input id="chk_scr_c_view" type="checkbox">
                                  <label for="chk_scr_c_view" class="checkbox">View</label>
                                  <input id="chk_scr_c_edit" type="checkbox">
                                  <label for="chk_scr_c_edit" class="checkbox">Edit</label>
                                  <input id="chk_scr_c_manage" type="checkbox" checked>
                                  <label for="chk_scr_c_manage" class="checkbox">Manage</label>
                              </td>
                          </tr>
                          <tr>
                              <td class="role_col_lbl">
                                  Screen Name D
                              </td>
                              <td class="role_col">
                                  <input id="chk_scr_d_full" type="checkbox">
                                  <label for="chk_scr_d_full" class="checkbox">Full</label>
                                  <input id="chk_scr_d_delete" type="checkbox" checked>
                                  <label for="chk_scr_b_delete" class="checkbox">Delete</label>
                                  <input id="chk_scr_d_view" type="checkbox" checked>
                                  <label for="chk_scr_d_view" class="checkbox">View</label>
                                  <input id="chk_scr_d_edit" type="checkbox" checked>
                                  <label for="chk_scr_d_edit" class="checkbox">Edit</label>
                                  <input id="chk_scr_d_manage" type="checkbox">
                                  <label for="chk_scr_d_manage" class="checkbox">Manage</label>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </form>
  </div>
</div>
