

<div class="mainwrap_section2">
    <h2>Reset Password</h2>

<div class="maincontent_section content_ceneter">
<div><img src="assets/images/email-verification-img.svg" alt="" ></div>
<p>Reset password link has been sent to <strong>tahirbashir786@yahoo.com,</strong> please verify your account details.</p>
<p>Please check your <strong>spam folder.</strong> If the notification is in your spam folder, please move the notification to the inbox and whitelist ZBizLink to ensure you receive all future notifications. </p>
  



</div>



 




</div>
